workflows/Agriguard.json
{"updatedAt":"2026-06-17T19:18:01.118Z","createdAt":"2026-06-14T15:54:30.159Z","id":"Wqnzc7oD1yZZTfUu","name":"Agriguard","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-48,192],"id":"b7d7889f-2a49-4db5-89b4-c2f1794f995d","name":"排程觸發 (每日午夜重置金鑰)"},{"parameters":{"httpMethod":"POST","path":"agriguard-line","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1584],"id":"c229bd9a-1f26-41a2-8c2a-0ae1c63ce16b","name":"[ENTRY] LINE 農損訊息入口","webhookId":"agriguard-line-webhook-001","onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"agriguard-api","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,1808],"id":"c2b64b00-4c05-416c-961a-671430d10ae2","name":"[ENTRY] API 直接入口 (PartyRock/前端)","webhookId":"agriguard-api-webhook-001","onError":"continueRegularOutput"},{"parameters":{"path":"agriguard-query","responseMode":"lastNode","responseData":"allEntries","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,416],"id":"1ffef80e-9e24-4c50-8a5a-7a5217eff43b","name":"[WEBHOOK] 前端申報狀態查詢","webhookId":"337d737b-178e-421f-be4b-5be5cf6d6418"},{"parameters":{"jsCode":"// =============================================\n// [NORM] 雙入口資料格式統一\n// LINE Webhook 與 API 入口正規化為統一格式\n// =============================================\nconst input = $input.first().json;\nconst isLine = !!input.events;\n\nlet content_text = '';\nlet photo_message_id = '';\nlet voice_message_id = '';\nlet source_platform = 'api';\nlet line_reply_token = '';\nlet line_user_id = '';\nlet farmer_phone = '';\nlet farmer_id = '';\nlet novel_name = '';\nlet chapter_name = '';\n\nif (isLine) {\n  source_platform = 'line';\n  const event = input.events?.[0] || {};\n  line_reply_token = event.replyToken || '';\n  line_user_id = event.source?.userId || '';\n\n  if (event.message?.type === 'text') {\n    content_text = event.message.text || '';\n  } else if (event.message?.type === 'audio') {\n    voice_message_id = event.message.id || '';\n    content_text = `[VOICE:${event.message.id}]`;\n  } else if (event.message?.type === 'image') {\n    photo_message_id = event.message.id || '';\n    content_text = `[IMAGE:${event.message.id}]`;\n  }\n  novel_name = `LINE_${line_user_id}`;\n  chapter_name = `report_${new Date().toISOString().slice(0,10)}`;\n} else {\n  content_text = input.body?.content || input.content || '';\n  farmer_phone = input.body?.farmer_phone || input.farmer_phone || '';\n  farmer_id = input.body?.farmer_id || input.farmer_id || '';\n  novel_name = input.body?.novel_name || 'AgriGuard_API';\n  chapter_name = input.body?.chapter_name || `report_${new Date().toISOString().slice(0,10)}`;\n}\n\nreturn [{\n  json: {\n    source_platform,\n    content: content_text,\n    photo_message_id,\n    voice_message_id,\n    has_photo: !!photo_message_id,\n    has_voice: !!voice_message_id,\n    farmer_phone,\n    farmer_id,\n    line_reply_token,\n    line_user_id,\n    novel_name,\n    chapter_name,\n    chapter_num: new Date().toISOString().slice(0,10),\n    received_at: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,1696],"id":"e1f69060-4412-437e-b8b4-51eef60a3549","name":"[NORM] 雙入口資料格式統一","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"check-voice","leftValue":"={{ $json.has_voice }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,1584],"id":"584d2f83-7dd1-4dd7-acf5-80aed1eb0ede","name":"[IF] 是否含語音訊息","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api-data.line.me/v2/bot/message/{{ $json.voice_message_id }}/content","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,1472],"id":"2121f6a5-0a38-4d82-85ce-2b3514c91168","name":"[LINE] 下載語音訊息檔案","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://speech.googleapis.com/v1/speech:recognize","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Goog-Api-Key","value":"{{ $env.GOOGLE_STT_API_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"config\": {\n    \"encoding\": \"LINEAR16\",\n    \"sampleRateHertz\": 16000,\n    \"languageCode\": \"zh-TW\",\n    \"alternativeLanguageCodes\": [\"nan-TW\", \"hak-TW\"],\n    \"enableAutomaticPunctuation\": true,\n    \"model\": \"latest_long\"\n  },\n  \"audio\": {\n    \"content\": \"{{ $binary.data.data }}\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,1472],"id":"e8cf0ed9-e321-4d8c-82cb-e5f6cace1dd7","name":"[STT] 語音轉文字 (Google STT 台語/中文)","retryOnFail":true,"waitBetweenTries":3000,"maxTries":2,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 解析 STT 結果，提取最佳識別文字\nconst d = $input.first().json;\nconst transcript = d.results?.[0]?.alternatives?.[0]?.transcript || '';\nconst confidence = d.results?.[0]?.alternatives?.[0]?.confidence || 0;\n\nreturn [{\n  json: {\n    ...d,\n    // 帶回上游的 line 資訊\n    source_platform: $('「NORM」雙入口資料格式統一').first()?.json?.source_platform || 'line',\n    line_reply_token: $('[NORM] 雙入口資料格式統一').first()?.json?.line_reply_token || '',\n    line_user_id: $('[NORM] 雙入口資料格式統一').first()?.json?.line_user_id || '',\n    photo_message_id: $('[NORM] 雙入口資料格式統一').first()?.json?.photo_message_id || '',\n    has_photo: $('[NORM] 雙入口資料格式統一').first()?.json?.has_photo || false,\n    novel_name: $('[NORM] 雙入口資料格式統一').first()?.json?.novel_name || '',\n    chapter_name: $('[NORM] 雙入口資料格式統一').first()?.json?.chapter_name || '',\n    chapter_num: $('[NORM] 雙入口資料格式統一').first()?.json?.chapter_num || '',\n    received_at: $('[NORM] 雙入口資料格式統一').first()?.json?.received_at || '',\n    // STT 結果\n    content: transcript,\n    stt_transcript: transcript,\n    stt_confidence: confidence,\n    stt_status: transcript ? 'success' : 'empty'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1472],"id":"cd3a8bf2-81c4-4eff-b6e8-bf8b7aa3f235","name":"[PARSE] STT 結果解析","onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"check-photo","leftValue":"={{ $json.has_photo }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[448,1808],"id":"34b2a1a8-45c6-44d8-9879-129d2c989b60","name":"[IF] 是否含照片","onError":"continueRegularOutput"},{"parameters":{"url":"=https://api-data.line.me/v2/bot/message/{{ $json.photo_message_id }}/content","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[672,1696],"id":"e1dd18f3-8cda-45d1-83aa-6ccff8760a73","name":"[LINE] 下載照片檔案","onError":"continueRegularOutput"},{"parameters":{"name":"=agriguard_photo_{{ $('任務初始化 (寫入 Supabase)').item.json.id }}_{{ $now.toMillis() }}.jpg","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive"},"folderId":{"__rl":true,"value":"{{ $env.GDRIVE_PHOTO_FOLDER_ID }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[896,1696],"id":"1e61031d-8902-417d-8895-fc963b56ca9f","name":"[STORAGE] 上傳農損照片至 Drive","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 建立照片直連網址，傳給 Bedrock Vision\nconst items = $input.all();\nreturn items.map(item => {\n  const fileId = item.json.id || '';\n  const directUrl = fileId ? `https://drive.google.com/uc?export=download&id=${fileId}` : '';\n  return {\n    json: {\n      ...item.json,\n      photo_drive_url: directUrl,\n      photo_file_id: fileId\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1136,1696],"id":"a7441ce4-ca32-46aa-a827-b78b0392a82c","name":"[BUILD] 照片直連網址建立","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1344,1584],"id":"0abe8a06-d196-4bc2-83eb-a529afe26eec","name":"[MERGE] 語音文字 + 照片匯流"},{"parameters":{"method":"POST","url":"https://qmpvgklppjhhvwolvsav.supabase.co/rest/v1/disaster_reports","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_ANON_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"processing\",\n  \"source_platform\": {{ JSON.stringify($json.source_platform) }},\n  \"raw_content\": {{ JSON.stringify($json.content || $json.stt_transcript || '') }},\n  \"photo_url\": {{ JSON.stringify($json.photo_drive_url || '') }},\n  \"farmer_id\": {{ JSON.stringify($json.farmer_id || '') }},\n  \"farmer_phone\": {{ JSON.stringify($json.farmer_phone || '') }},\n  \"line_user_id\": {{ JSON.stringify($json.line_user_id || '') }},\n  \"line_reply_token\": {{ JSON.stringify($json.line_reply_token || '') }},\n  \"novel_name\": {{ JSON.stringify($json.novel_name || '') }},\n  \"chapter_name\": {{ JSON.stringify($json.chapter_name || '') }},\n  \"chapter_num\": {{ JSON.stringify($json.chapter_num || '') }},\n  \"received_at\": {{ JSON.stringify($json.received_at || $now.toISO()) }}\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1568,1584],"id":"860cf364-b62d-43a2-96cd-f1a2d0d37465","name":"任務初始化 (寫入 Supabase)","onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"sig-001","name":"status","value":"processing","type":"string"},{"id":"sig-002","name":"message","value":"農損申報任務已啟動，AI 分析中...","type":"string"},{"id":"sig-003","name":"task_id","value":"={{ $execution.id }}","type":"string"},{"id":"sig-004","name":"report_id","value":"={{ $('任務初始化 (寫入 Supabase)').item.json[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1792,1584],"id":"ac1e30e3-2034-4027-9ed5-2db0d9e1d247","name":"回傳處理中訊號","onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://bedrock-runtime.{{ $env.AWS_REGION }}.amazonaws.com/model/anthropic.claude-3-7-sonnet-20250219-v1:0/invoke","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Amz-Date","value":"={{ $now.format('YYYYMMDDTHHmmss') }}Z"},{"name":"Authorization","value":"={{ 'AWS4-HMAC-SHA256 Credential=' + $env.AWS_ACCESS_KEY_ID }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"anthropic_version\": \"bedrock-2023-05-31\",\n  \"max_tokens\": 4096,\n  \"system\": \"你是一位精通台灣在地文化與農業知識的災損申報 AI 代理人，專為高齡農民設計。\\n\\n【最高指令：只輸出純 JSON，不含任何 Markdown 標記】\\n第一個字元必須是 { ，最後一個字元必須是 }。\\n\\n【台語/客語正規化對照表】\\n稻仔→水稻｜番麥→玉米｜菜瓜→絲瓜｜芋仔→芋頭｜甘蔗仔→甘蔗\\n攏倒去/全倒去→全部倒伏｜損害了了→完全損失｜傷重→嚴重損害\\n三分地→0.291公頃｜五分地→0.485公頃｜一甲地→0.9699公頃\\n損害真嚴重/傷重→Level 3（嚴重，70-90%）\\n\\n【視覺辨識能力（若有照片）】\\n- 辨識作物種類與生育期\\n- 估算倒伏比例（像素分析）\\n- 辨識災害類型（淹水線、焦枯、蟲蝕痕跡）\\n- 交叉驗證語音與影像是否一致\\n\\n【輸出 JSON Schema — 欄位缺失填空字串，勿省略欄位】\\n{\\n  \\\"crop_type\\\": \\\"作物名稱\\\",\\n  \\\"disaster_type\\\": \\\"typhoon|flood|drought|cold_injury|pest|hail\\\",\\n  \\\"damage_area_ha\\\": 0.0,\\n  \\\"damage_level\\\": 1,\\n  \\\"damage_level_label\\\": \\\"輕微/中等/嚴重/全損\\\",\\n  \\\"damage_description\\\": \\\"詳細描述\\\",\\n  \\\"growth_stage\\\": \\\"seedling/tillering/heading/milky/harvest\\\",\\n  \\\"location_county\\\": \\\"\\\",\\n  \\\"location_township\\\": \\\"\\\",\\n  \\\"dialect_terms_detected\\\": [\\\"偵測到的方言詞彙\\\"],\\n  \\\"photo_analysis\\\": \\\"照片視覺分析摘要（若有）\\\",\\n  \\\"cross_validation\\\": \\\"語音與照片一致性說明\\\",\\n  \\\"confidence_score\\\": 0.0,\\n  \\\"missing_fields\\\": [\\\"缺失欄位名稱列表\\\"],\\n  \\\"followup_question\\\": \\\"用親切台語/中文詢問缺漏資訊的問題\\\",\\n  \\\"mood_color\\\": \\\"#27AE60\\\",\\n  \\\"analysis_notes\\\": \\\"AI 推理備註\\\",\\n  \\\"retry_count\\\": 0\\n}\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": {{ JSON.stringify('請分析以下農損申報內容，萃取結構化資料：\\n\\n口語輸入（可能含台語/客語）：' + ($json.content || $json.stt_transcript || '無文字輸入') + '\\n\\n照片網址（若有）：' + ($json.photo_drive_url || '無照片')) }}\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2016,1584],"id":"9e696fc5-8b8c-4e67-ad01-c0290a9090cc","name":"[AI] 農損語意萃取 (Bedrock Claude 3.7)","retryOnFail":true,"waitBetweenTries":5000,"maxTries":3,"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// =============================================\n// [PROCESS] 農損資料結構化解析\n// =============================================\nconst item = $input.first();\nlet rawData = '';\n\ntry {\n  const body = item.json.body || item.json;\n  if (body.content && Array.isArray(body.content)) {\n    rawData = body.content[0]?.text || '';\n  } else if (body.completion) {\n    rawData = body.completion;\n  } else if (typeof body === 'string') {\n    rawData = body;\n  }\n} catch(e) { rawData = ''; }\n\nlet parsed = {};\ntry {\n  const clean = rawData.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(clean);\n} catch(e) {\n  return [{ json: {\n    id: $execution.id,\n    report_db_id: $('任務初始化 (寫入 Supabase)').first().json[0]?.id || '',\n    status: 'parse_failed',\n    error_message: 'Bedrock 回應解析失敗: ' + e.message,\n    raw_output: rawData,\n    approval_status: 'parse_error'\n  }}];\n}\n\n// 申報完整性校驗\nconst REQUIRED = ['crop_type','disaster_type','damage_area_ha','damage_level','location_county','location_township'];\nconst missing = REQUIRED.filter(f => !parsed[f] || parsed[f] === '' || parsed[f] === 0);\nconst confidence = parsed.confidence_score || 0;\n\nlet approval_status = 'pending_confirm';\nif (missing.length === 0 && confidence >= 0.85) {\n  approval_status = 'ready_to_submit';\n} else if (missing.length > 0) {\n  approval_status = 'need_more_info';\n}\n\n// 帶入上游農民資訊\nconst upstream = $('任務初始化 (寫入 Supabase)').first().json[0] || {};\n\nreturn [{ json: {\n  id: $execution.id,\n  report_db_id: upstream.id || '',\n  line_user_id: upstream.line_user_id || '',\n  line_reply_token: upstream.line_reply_token || '',\n  source_platform: upstream.source_platform || 'api',\n  photo_drive_url: $('[BUILD] 照片直連網址建立').first()?.json?.photo_drive_url || upstream.photo_url || '',\n  farmer_id: upstream.farmer_id || '',\n  farmer_phone: upstream.farmer_phone || '',\n  raw_content: upstream.raw_content || '',\n  novel_name: upstream.novel_name || '',\n  chapter_name: upstream.chapter_name || '',\n  chapter_num: upstream.chapter_num || '',\n\n  // AI 萃取欄位\n  crop_type: parsed.crop_type || '',\n  disaster_type: parsed.disaster_type || 'typhoon',\n  damage_area_ha: parsed.damage_area_ha || 0,\n  damage_level: parsed.damage_level || 1,\n  damage_level_label: parsed.damage_level_label || '',\n  damage_description: parsed.damage_description || '',\n  growth_stage: parsed.growth_stage || '',\n  location_county: parsed.location_county || '',\n  location_township: parsed.location_township || '',\n  dialect_terms_detected: parsed.dialect_terms_detected || [],\n  photo_analysis: parsed.photo_analysis || '',\n  cross_validation: parsed.cross_validation || '',\n  confidence_score: confidence,\n  missing_fields: missing,\n  followup_question: parsed.followup_question || '',\n  analysis_notes: parsed.analysis_notes || '',\n  mood_color: parsed.mood_color || '#27AE60',\n  music_prompt: 'peaceful rural ambient',\n  approval_status,\n  status: 'ai_analyzed'\n}}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,1584],"id":"d67fd5e9-8cb3-420e-b3e2-697d3c772a1c","name":"[PROCESS] 農損資料結構化解析","onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.approval_status }}","rightValue":"ready_to_submit","operator":{"type":"string","operation":"equals"},"id":"r1"}],"combinator":"and"},"renameOutput":true,"outputKey":"資料完整"},{"conditions":{"conditions":[{"leftValue":"={{ $json.approval_status }}","rightValue":"need_more_info","operator":{"type":"string","operation":"equals"},"id":"r2"}],"combinator":"and"},"renameOutput":true,"outputKey":"資料不足 追問"},{"conditions":{"conditions":[{"leftValue":"={{ $json.approval_status }}","rightValue":"pending_confirm","operator":{"type":"string","operation":"equals"},"id":"r3"}],"combinator":"and"},"renameOutput":true,"outputKey":"待用戶確認"},{"conditions":{"conditions":[{"leftValue":"={{ $json.approval_status }}","rightValue":"parse_error","operator":{"type":"string","operation":"equals"},"id":"r4"}],"combinator":"and"},"renameOutput":true,"outputKey":"解析失敗 轉人工"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[2464,1584],"id":"0f1c0667-8e18-421c-a014-550d57ccd4be","name":"[JUDGE] 申報資料完整性分流","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 產生確認訊息（資料完整 or 信心不足）\nconst d = $input.first().json;\nconst damageLabel = ['', '輕微 (1-30%)', '中等 (30-70%)', '嚴重 (70-90%)', '全損 (90-100%)'];\nconst disasterMap = { typhoon:'颱風', flood:'豪雨/淹水', drought:'乾旱', cold_injury:'低溫寒害', pest:'病蟲害', hail:'冰雹' };\nconst rptId = `AGR-${new Date().toISOString().slice(0,10).replace(/-/g,'')}-${String(d.report_db_id).slice(-4).padStart(4,'0')}`;\n\nconst msg = [\n  `✅ 農損申報資料確認`,\n  ``,\n  `📋 申報編號：${rptId}`,\n  ``,\n  `🌾 作物種類：${d.crop_type || '未偵測'}`,\n  `🌀 災害類型：${disasterMap[d.disaster_type] || d.disaster_type}`,\n  `📐 受損面積：${d.damage_area_ha} 公頃`,\n  `📊 損失程度：${damageLabel[d.damage_level] || d.damage_level_label}`,\n  `📍 地點：${d.location_county}${d.location_township}`,\n  d.photo_analysis ? `\\n📷 照片分析：${d.photo_analysis}` : '',\n  ``,\n  `✨ 資料完整！請回覆「確認送出」即可完成申報，或回覆「修改」來調整內容。`\n].filter(l => l !== undefined).join('\\n');\n\nreturn [{ json: { ...d, confirm_message: msg, report_number: rptId, quick_replies: ['確認送出', '修改資料', '聯絡志工'] } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,1392],"id":"9f549c01-eabe-4280-b6ce-2103db5eac4a","name":"[MSG] 產生確認訊息","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 產生容錯追問訊息（缺欄位時）\nconst d = $input.first().json;\nconst fieldLabels = { crop_type:'作物種類', disaster_type:'災害類型', damage_area_ha:'受損面積', damage_level:'損失程度', location_county:'縣市', location_township:'鄉鎮' };\nconst missingLabels = (d.missing_fields || []).map(f => fieldLabels[f] || f);\n\nlet quickReplies = ['嘉義縣水上鄉', '雲林縣虎尾鎮', '彰化縣溪湖鎮', '其他（請說明）'];\nif (d.missing_fields?.includes('damage_area_ha')) quickReplies = ['不到0.1公頃', '0.1-0.5公頃', '0.5-1公頃', '超過1公頃'];\nif (d.missing_fields?.includes('damage_level')) quickReplies = ['輕微（少部分）', '中等（一半左右）', '嚴重（大部分）', '全損（幾乎全滅）'];\n\nconst msg = [\n  `阿公/阿嬤，謝謝您的回報！😊`,\n  ``,\n  `我還需要以下資料才能幫您申報：`,\n  ...missingLabels.map(l => `❓ ${l}`),\n  ``,\n  d.followup_question || '請用說話或打字告訴我喔！'\n].join('\\n');\n\nreturn [{ json: { ...d, followup_message: msg, quick_replies: quickReplies } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,1584],"id":"ac055dc0-aeeb-4af7-b4fe-062f167c5c52","name":"[MSG] 容錯追問訊息","onError":"continueRegularOutput"},{"parameters":{"jsCode":"// 人工轉介（解析失敗防線）\nconst d = $input.first().json;\nconst msg = [\n  `阿公/阿嬤，您好！`,\n  ``,\n  `我們已收到您的農損通報，但因為訊息比較複雜，`,\n  `我們會請水上鄉農會的志工在今天內打電話給您協助申報。`,\n  ``,\n  `若有急需，也可撥打 1955 農業專線。`,\n  `感謝您的耐心！🌾`\n].join('\\n');\nreturn [{ json: { ...d, escalate_message: msg, quick_replies: ['好的謝謝'] } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2688,1808],"id":"5602be49-cb05-4aca-a8e8-c4b0764c8a1f","name":"[MSG] 人工轉介訊息 (最終防線)","onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2912,1584],"id":"b3103c2c-f70d-402a-8a5d-fcedf121469a","name":"[MERGE] 訊息匯流"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/reply","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"replyToken\": {{ JSON.stringify($json.line_reply_token) }},\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": {{ JSON.stringify($json.confirm_message || $json.followup_message || $json.escalate_message || '申報資料處理中，請稍候...') }},\n      \"quickReply\": {\n        \"items\": {{ JSON.stringify(($json.quick_replies || ['確認送出', '修改資料', '聯絡志工']).map(r => ({ type: 'action', action: { type: 'message', label: r.slice(0,20), text: r } }))) }}\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3136,1584],"id":"c8b53ab3-8552-4ccc-98d0-85f842b66b6c","name":"[LINE] 回覆農民確認訊息","onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"=https://qmpvgklppjhhvwolvsav.supabase.co/rest/v1/disaster_reports?id=eq.{{ $json.report_db_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_ANON_KEY }}"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"pending_confirm\",\n  \"crop_type\": {{ JSON.stringify($json.crop_type) }},\n  \"disaster_type\": {{ JSON.stringify($json.disaster_type) }},\n  \"damage_area_ha\": {{ $json.damage_area_ha }},\n  \"damage_level\": {{ $json.damage_level }},\n  \"damage_level_label\": {{ JSON.stringify($json.damage_level_label) }},\n  \"damage_description\": {{ JSON.stringify($json.damage_description) }},\n  \"growth_stage\": {{ JSON.stringify($json.growth_stage) }},\n  \"location_county\": {{ JSON.stringify($json.location_county) }},\n  \"location_township\": {{ JSON.stringify($json.location_township) }},\n  \"confidence_score\": {{ $json.confidence_score }},\n  \"missing_fields\": {{ JSON.stringify($json.missing_fields) }},\n  \"dialect_terms_detected\": {{ JSON.stringify($json.dialect_terms_detected) }},\n  \"photo_analysis\": {{ JSON.stringify($json.photo_analysis) }},\n  \"report_number\": {{ JSON.stringify($json.report_number || $json.report_id || '') }},\n  \"approval_status\": {{ JSON.stringify($json.approval_status) }},\n  \"mood_color\": {{ JSON.stringify($json.mood_color) }},\n  \"analyzed_at\": \"{{ $now.toISO() }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[3136,1808],"id":"becb237a-d85f-4d17-908e-9c7d983e680e","name":"[DB] 寫入 AI 分析結果","onError":"continueRegularOutput"},{"parameters":{"httpMethod":"POST","path":"agriguard-confirm","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-32,928],"id":"ffb5a1c2-4856-492f-85a2-40e5b5e3c48d","name":"[WEBHOOK] 農民確認送出觸發","webhookId":"agriguard-confirm-webhook-001","onError":"continueRegularOutput"},{"parameters":{"url":"=https://qmpvgklppjhhvwolvsav.supabase.co/rest/v1/disaster_reports?id=eq.{{ $json.body.report_db_id }}&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_ANON_KEY }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[192,928],"id":"a8799079-c79c-405c-9203-c8fc1caa504a","name":"[DB] 抓取待確認申報資料"},{"parameters":{"jsCode":"// =============================================\n// [BUILD] 建構政府農損申報 JSON\n// 映射至農業部災損申報系統標準 Schema\n// =============================================\nconst d = $input.first().json?.[0] || $input.first().json;\n\nconst disasterCodeMap = { typhoon:'D01', flood:'D02', drought:'D03', cold_injury:'D04', pest:'D05', hail:'D06' };\nconst cropCodeMap = { '水稻':'C001', '玉米':'C002', '香蕉':'C003', '鳳梨':'C004', '番茄':'C005', '高麗菜':'C006', '芋頭':'C007', '絲瓜':'C008', '甘蔗':'C009', '大豆':'C010' };\n\nconst reportDate = new Date().toISOString().slice(0,10);\nconst rptId = `AGR-${reportDate.replace(/-/g,'')}-${String(d.id || '0000').slice(-4).padStart(4,'0')}`;\n\nconst govPayload = {\n  report_id: rptId,\n  submitted_at: new Date().toISOString(),\n  report_type: 'disaster_damage',\n  report_source: d.source_platform === 'line' ? 'LINE_DIGITAL_INCLUSION' : 'WEB_API',\n  farmer: {\n    id: d.farmer_id || d.line_user_id || '',\n    phone: d.farmer_phone || '',\n    contact_method: d.source_platform\n  },\n  location: {\n    county: d.location_county,\n    township: d.location_township\n  },\n  disaster: {\n    type: d.disaster_type,\n    type_code: disasterCodeMap[d.disaster_type] || 'D99',\n    report_date: reportDate\n  },\n  crop: {\n    name: d.crop_type,\n    code: cropCodeMap[d.crop_type] || 'C999',\n    growth_stage: d.growth_stage\n  },\n  damage: {\n    area_ha: d.damage_area_ha,\n    level: d.damage_level,\n    level_label: d.damage_level_label,\n    description: d.damage_description\n  },\n  ai_evidence: {\n    photo_url: d.photo_url || '',\n    raw_input: d.raw_content || '',\n    dialect_terms: d.dialect_terms_detected || [],\n    photo_analysis: d.photo_analysis || '',\n    cross_validation: d.cross_validation || '',\n    confidence_score: d.confidence_score,\n    generated_by: 'AWS Bedrock Claude 3.7 Sonnet'\n  },\n  status: 'submitted_pending_inspection'\n};\n\nreturn [{ json: { ...d, gov_payload: govPayload, report_id: rptId } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[416,928],"id":"d712575b-786d-411c-bba6-403bf8613d94","name":"[BUILD] 建構政府農損申報 JSON"},{"parameters":{"method":"POST","url":"={{ $env.GOV_AGRI_REPORT_API_URL || 'https://agri-report.coa.gov.tw/api/v1/disaster/submit' }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $env.GOV_AGRI_API_KEY }}"},{"name":"X-Agency","value":"AgriGuard-TIARA2026"},{"name":"X-Submission-Source","value":"AgriGuard-AI-Assisted"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.gov_payload) }}","options":{"response":{"response":{"fullResponse":true}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[640,928],"id":"1b9aa42c-0f7c-4281-b80f-95ba032b7aa5","name":"[GOV] 推送至農業部申報系統","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.statusCode }}","rightValue":"200","operator":{"type":"string","operation":"equals"},"id":"g1"}],"combinator":"and"},"renameOutput":true,"outputKey":"政府系統接收成功"},{"conditions":{"conditions":[{"leftValue":"={{ $json.statusCode }}","rightValue":"429","operator":{"type":"string","operation":"equals"},"id":"g2"}],"combinator":"and"},"renameOutput":true,"outputKey":"政府系統限流"},{"conditions":{"conditions":[{"leftValue":"={{ $json.statusCode }}","rightValue":"503","operator":{"type":"string","operation":"equals"},"id":"g3"}],"combinator":"and"},"renameOutput":true,"outputKey":"政府系統維護中"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[864,928],"id":"85bd36ea-c9b9-4d3a-97d4-d74eaa924b93","name":"[JUDGE] 政府系統回應判斷"},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[864,1152],"id":"d85f16d3-7552-4211-984f-fa9778735f34","name":"政府系統限流等待 60s","webhookId":"gov-retry-wait-webhook-001"},{"parameters":{"method":"PATCH","url":"=https://qmpvgklppjhhvwolvsav.supabase.co/rest/v1/disaster_reports?id=eq.{{ $('任務初始化 (寫入 Supabase)').item.json[0].id || $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_ANON_KEY }}"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"published\",\n  \"approval_status\": \"submitted\",\n  \"report_number\": {{ JSON.stringify($json.report_id) }},\n  \"gov_submission_response\": {{ JSON.stringify($json.body || {}) }},\n  \"completed_at\": \"{{ $now.toISO() }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1088,928],"id":"5c43d201-fd65-4175-9f84-6826948436c0","name":"[DB] 寫入最終申報完成紀錄"},{"parameters":{"method":"POST","url":"https://api.line.me/v2/bot/message/push","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer {{ $env.LINE_CHANNEL_ACCESS_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"to\": {{ JSON.stringify($json.line_user_id || '') }},\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": {{ JSON.stringify('✅ 申報完成！\\n\\n申報編號：' + ($json.report_id || '') + '\\n\\n公所已收到您的農損申報，預計 3 個工作天內農業人員會來會勘確認。\\n\\n如有疑問請撥打 ☎ 1955 農業專線。🌾') }}\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1312,928],"id":"38a602f5-601d-486b-8e27-26c4a4f6ebe9","name":"[LINE] 推播申報完成通知"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GSHEET_LOG_URL || 'https://docs.google.com/spreadsheets/d/AGRIGUARD_SHEET_ID/edit' }}","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"農損申報紀錄"},"columns":{"mappingMode":"defineBelow","value":{"時間戳記":"={{ $now }}","申報編號":"={{ $json.report_id }}","農民ID/LINE":"={{ $json.line_user_id || $json.farmer_id }}","來源平台":"={{ $json.source_platform }}","縣市鄉鎮":"={{ $json.location_county }}{{ $json.location_township }}","作物":"={{ $json.crop_type }}","災因":"={{ $json.disaster_type }}","受損公頃":"={{ $json.damage_area_ha }}","損失等級":"={{ $json.damage_level_label }}","AI信心分數":"={{ $json.confidence_score }}","方言偵測":"={{ ($json.dialect_terms_detected || []).join(',') }}","申報狀態":"=submitted"},"schema":[]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1536,928],"id":"63169235-9627-4f89-99a9-0881191e139d","name":"[LOG] 申報紀錄寫入試算表","onError":"continueRegularOutput"},{"parameters":{"method":"PATCH","url":"https://qmpvgklppjhhvwolvsav.supabase.co/rest/v1/api_pool?status=eq.exhausted","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_ANON_KEY }}"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"status\": \"active\", \"error_message\": \"AgriGuard 系統自動重置\" }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,192],"id":"d085172e-fb4a-48e3-bfca-54a76ae8a3ba","name":"[DB] 批次喚醒 Exhausted 金鑰"},{"parameters":{"url":"=https://qmpvgklppjhhvwolvsav.supabase.co/rest/v1/disaster_reports?id=eq.{{ $json.query.report_id }}&select=*","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_ANON_KEY }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,416],"id":"a3136bd8-5bc5-4a33-8ced-56f5fdb2e318","name":"[DB] 查詢申報狀態"},{"parameters":{"method":"PATCH","url":"=https://qmpvgklppjhhvwolvsav.supabase.co/rest/v1/disaster_reports?id=eq.{{ $('任務初始化 (寫入 Supabase)').item.json[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_ANON_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_ANON_KEY }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"status\": \"failed\", \"error_message\": \"{{ $json.execution?.error?.message || '未知錯誤' }}\", \"failed_at\": \"{{ $now.toISO() }}\" }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[176,640],"id":"f94cebf1-6ea6-4a4d-932a-4ec3472e73a5","name":"更新失敗狀態至資料庫"},{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-48,640],"id":"17d69124-4ffe-43e0-bf10-42d8060c2463","name":"異常錯誤捕捉器"},{"parameters":{"events":["activate","update"]},"id":"db34e730-51dc-4487-8a13-64e600e597cc","name":"Workflow Trigger","type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[800,288]},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflow_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"36950e07-a887-4562-92b9-2669c4924549","name":"HTTP Request - 獲取工作流 JSON","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1024,288],"notes":"⚙️ 需設定：1) 將 URL 中 localhost:5678 改為你的 n8n 網址  2) 設定 Header Auth，Key 填 X-N8N-API-KEY，Value 填你的 API Key"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"mp3-tech","mode":""},"repository":{"__rl":true,"value":"Agriguard","mode":""},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ JSON.stringify($json) }}","commitMessage":"=chore: update workflow {{ $json.name }} [n8n-sync]"},"id":"6ce9dea8-81fe-421c-93c3-4ee5a8dab06b","name":"GitHub - 推送至 GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1440,288],"webhookId":"cc554a3b-d0c2-4701-8604-6b00d988360d","notes":"⚙️ 需設定：1) owner 改為你的 GitHub 帳號  2) repository 改為你的 repo 名稱  3) 設定 GitHub Personal Access Token（需有 repo 權限）"},{"parameters":{"httpMethod":"POST","path":"github-to-n8n-sync","options":{}},"id":"7c5c893f-29cf-4971-8ac2-af0072c00bfa","name":"Webhook - 接收 GitHub 通知","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[800,560],"webhookId":"github-to-n8n-sync","notes":"⚙️ 需設定：啟用此工作流後，複製產生的 Webhook URL，貼到 GitHub Repo → Settings → Webhooks，Content type 選 application/json，事件勾選 Just the push event"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const body = $json.body;\n\nif (!body || !body.commits || body.commits.length === 0) {\n    return { _skip: true, reason: '非標準 Push 事件或無 Commit 資料' };\n}\n\nconst lastCommitMessage = body.commits[body.commits.length - 1].message;\nif (lastCommitMessage.includes('[n8n-sync]')) {\n    return { _skip: true, reason: '偵測到 n8n 自發變更，已自動終止流程避免死迴圈' };\n}\n\nconst hasWorkflowChanges = body.commits.some(commit => {\n    const allFiles = [...commit.added, ...commit.modified];\n    return allFiles.some(file => file.startsWith('workflows/') && file.endsWith('.json'));\n});\n\nif (!hasWorkflowChanges) {\n    return { _skip: true, reason: '本次 Commit 未變更任何工作流 JSON 檔案' };\n}\n\nconst targetCommit = body.commits[body.commits.length - 1];\nconst targetFile = [...targetCommit.added, ...targetCommit.modified].find(file => file.startsWith('workflows/') && file.endsWith('.json'));\nconst workflowName = targetFile.replace('workflows/', '').replace('.json', '');\n\nreturn {\n    _skip: false,\n    filePath: targetFile,\n    workflowName: workflowName,\n    commitMessage: lastCommitMessage\n};"},"id":"7ee4abac-12d5-4046-a92c-17c65d1e75bc","name":"Code - 防禦與過濾","type":"n8n-nodes-base.code","typeVersion":2,"position":[1024,560]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"skip-check","leftValue":"={{ $json._skip }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"dc14e7ce-38fb-49b8-b6dd-be77a927f3c5","name":"If - 過濾 n8n 自發變更","type":"n8n-nodes-base.if","typeVersion":2,"position":[1248,560],"notes":"true 分支（_skip = false）繼續往下；false 分支（_skip = true）流程結束"},{"parameters":{"resource":"file","operation":"get","owner":"REPLACE_WITH_YOUR_GITHUB_OWNER","repository":"REPLACE_WITH_YOUR_REPO_NAME","filePath":"={{ $json.filePath }}","additionalParameters":{}},"id":"829d92c9-bbf9-4351-a6a7-61b45a2f3a9a","name":"GitHub - 獲取最新 JSON","type":"n8n-nodes-base.github","typeVersion":1,"position":[1488,512],"webhookId":"01a8d7bc-98b8-4a55-a7d8-34091d2856dd","notes":"⚙️ 需設定：owner 改為你的 GitHub 帳號，repository 改為你的 repo 名稱"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const contentText = Buffer.from($json.content, 'base64').toString('utf-8');\nreturn JSON.parse(contentText);"},"id":"36da5fcb-a8e7-4cee-8ce0-bbb33885fdd8","name":"Code - Base64 解碼","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,512]},{"parameters":{"method":"PUT","url":"=http://localhost:5678/api/v1/workflows/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json }}","options":{}},"id":"72f64da1-f32f-4d99-bfcf-0233f88c2100","name":"HTTP Request - 更新 n8n 工作流","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1904,512],"notes":"⚙️ 需設定：將 URL 中 localhost:5678 改為你的 n8n 網址，並設定 Header Auth（X-N8N-API-KEY）"},{"parameters":{"jsCode":"let data = $json;\n\n// 如果資料被包在 data 陣列裡，先取出來\nif (data.data && Array.isArray(data.data)) {\n  data = data.data[0];\n}\n\n// 清除每個 node 裡的 credentials 欄位\nif (data.nodes && Array.isArray(data.nodes)) {\n  data.nodes = data.nodes.map(node => {\n    const cleanedNode = { ...node };\n    if (cleanedNode.credentials) {\n      delete cleanedNode.credentials;\n    }\n    // 同時檢查 parameters 裡是否有寫死的敏感字串\n    return cleanedNode;\n  });\n}\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,288],"id":"817d0991-2aee-46e4-b4ea-18e2e71a4900","name":"Code in JavaScript"}],"connections":{"[ENTRY] LINE 農損訊息入口":{"main":[[{"node":"[NORM] 雙入口資料格式統一","type":"main","index":0}]]},"[ENTRY] API 直接入口 (PartyRock/前端)":{"main":[[{"node":"[NORM] 雙入口資料格式統一","type":"main","index":0}]]},"[NORM] 雙入口資料格式統一":{"main":[[{"node":"[IF] 是否含語音訊息","type":"main","index":0},{"node":"[IF] 是否含照片","type":"main","index":0}]]},"[IF] 是否含語音訊息":{"main":[[{"node":"[LINE] 下載語音訊息檔案","type":"main","index":0}],[{"node":"[MERGE] 語音文字 + 照片匯流","type":"main","index":0}]]},"[LINE] 下載語音訊息檔案":{"main":[[{"node":"[STT] 語音轉文字 (Google STT 台語/中文)","type":"main","index":0}]]},"[STT] 語音轉文字 (Google STT 台語/中文)":{"main":[[{"node":"[PARSE] STT 結果解析","type":"main","index":0}]]},"[PARSE] STT 結果解析":{"main":[[{"node":"[MERGE] 語音文字 + 照片匯流","type":"main","index":0}]]},"[IF] 是否含照片":{"main":[[{"node":"[LINE] 下載照片檔案","type":"main","index":0}],[{"node":"[MERGE] 語音文字 + 照片匯流","type":"main","index":1}]]},"[LINE] 下載照片檔案":{"main":[[{"node":"[STORAGE] 上傳農損照片至 Drive","type":"main","index":0}]]},"[STORAGE] 上傳農損照片至 Drive":{"main":[[{"node":"[BUILD] 照片直連網址建立","type":"main","index":0}]]},"[BUILD] 照片直連網址建立":{"main":[[{"node":"[MERGE] 語音文字 + 照片匯流","type":"main","index":1}]]},"[MERGE] 語音文字 + 照片匯流":{"main":[[{"node":"任務初始化 (寫入 Supabase)","type":"main","index":0}]]},"任務初始化 (寫入 Supabase)":{"main":[[{"node":"回傳處理中訊號","type":"main","index":0}]]},"回傳處理中訊號":{"main":[[{"node":"[AI] 農損語意萃取 (Bedrock Claude 3.7)","type":"main","index":0}]]},"[AI] 農損語意萃取 (Bedrock Claude 3.7)":{"main":[[{"node":"[PROCESS] 農損資料結構化解析","type":"main","index":0}]]},"[PROCESS] 農損資料結構化解析":{"main":[[{"node":"[JUDGE] 申報資料完整性分流","type":"main","index":0}]]},"[JUDGE] 申報資料完整性分流":{"main":[[{"node":"[MSG] 產生確認訊息","type":"main","index":0}],[{"node":"[MSG] 容錯追問訊息","type":"main","index":0}],[{"node":"[MSG] 產生確認訊息","type":"main","index":0}],[{"node":"[MSG] 人工轉介訊息 (最終防線)","type":"main","index":0}]]},"[MSG] 產生確認訊息":{"main":[[{"node":"[MERGE] 訊息匯流","type":"main","index":0}]]},"[MSG] 容錯追問訊息":{"main":[[{"node":"[MERGE] 訊息匯流","type":"main","index":1}]]},"[MERGE] 訊息匯流":{"main":[[{"node":"[LINE] 回覆農民確認訊息","type":"main","index":0},{"node":"[DB] 寫入 AI 分析結果","type":"main","index":0}]]},"[WEBHOOK] 農民確認送出觸發":{"main":[[{"node":"[DB] 抓取待確認申報資料","type":"main","index":0}]]},"[DB] 抓取待確認申報資料":{"main":[[{"node":"[BUILD] 建構政府農損申報 JSON","type":"main","index":0}]]},"[BUILD] 建構政府農損申報 JSON":{"main":[[{"node":"[GOV] 推送至農業部申報系統","type":"main","index":0}]]},"[GOV] 推送至農業部申報系統":{"main":[[{"node":"[JUDGE] 政府系統回應判斷","type":"main","index":0}]]},"[JUDGE] 政府系統回應判斷":{"main":[[{"node":"[DB] 寫入最終申報完成紀錄","type":"main","index":0}],[{"node":"政府系統限流等待 60s","type":"main","index":0}],[{"node":"政府系統限流等待 60s","type":"main","index":0}],[{"node":"[DB] 寫入最終申報完成紀錄","type":"main","index":0}]]},"政府系統限流等待 60s":{"main":[[{"node":"[GOV] 推送至農業部申報系統","type":"main","index":0}]]},"[DB] 寫入最終申報完成紀錄":{"main":[[{"node":"[LINE] 推播申報完成通知","type":"main","index":0},{"node":"[LOG] 申報紀錄寫入試算表","type":"main","index":0}]]},"排程觸發 (每日午夜重置金鑰)":{"main":[[{"node":"[DB] 批次喚醒 Exhausted 金鑰","type":"main","index":0}]]},"[WEBHOOK] 前端申報狀態查詢":{"main":[[{"node":"[DB] 查詢申報狀態","type":"main","index":0}]]},"異常錯誤捕捉器":{"main":[[{"node":"更新失敗狀態至資料庫","type":"main","index":0}]]},"Workflow Trigger":{"main":[[{"node":"HTTP Request - 獲取工作流 JSON","type":"main","index":0}]]},"HTTP Request - 獲取工作流 JSON":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Webhook - 接收 GitHub 通知":{"main":[[{"node":"Code - 防禦與過濾","type":"main","index":0}]]},"Code - 防禦與過濾":{"main":[[{"node":"If - 過濾 n8n 自發變更","type":"main","index":0}]]},"If - 過濾 n8n 自發變更":{"main":[[{"node":"GitHub - 獲取最新 JSON","type":"main","index":0}]]},"GitHub - 獲取最新 JSON":{"main":[[{"node":"Code - Base64 解碼","type":"main","index":0}]]},"Code - Base64 解碼":{"main":[[{"node":"HTTP Request - 更新 n8n 工作流","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"GitHub - 推送至 GitHub","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5b09495f-779c-4606-8fd1-f3afb9dd0757","activeVersionId":null,"versionCounter":55,"triggerCount":0,"shared":[{"updatedAt":"2026-06-14T15:54:30.162Z","createdAt":"2026-06-14T15:54:30.162Z","role":"workflow:owner","workflowId":"Wqnzc7oD1yZZTfUu","projectId":"1dM615KCeKo7EXVO","project":{"updatedAt":"2026-02-23T12:26:29.510Z","createdAt":"2026-02-23T12:24:25.870Z","id":"1dM615KCeKo7EXVO","name":"kai deng <61710mp3@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"93d800c8-566f-4f48-a4ad-20fd92655dcd"}}],"tags":[],"activeVersion":null}