workflows/AI Audiobook Generator (Gemini 2.0 Flash + Suno + TTS + Mixing).json
{"updatedAt":"2026-03-08T17:58:47.000Z","createdAt":"2026-02-25T18:05:35.857Z","id":"8fEHNOVQt56h0LoZ","name":"AI Audiobook Generator (Gemini 2.0 Flash + Suno + TTS + Mixing)","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"audiobook","options":{}},"id":"f08c8baf-a2d1-405b-9683-df019b176123","name":"User Input (Webhook)","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1808,208],"webhookId":"7630ea2f-4235-4cc9-805d-71ce7a9fd371"},{"parameters":{"url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$env.GEMINI_KEY}}","jsonParameters":true,"options":{}},"id":"78354e53-5874-4a75-ac9b-aa8635153aaf","name":"Gemini_Text_Processing","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-1504,208]},{"parameters":{"functionCode":"const segs = items[0].json.segments;\nconst output = [];\n\nfunction charCount(str){ return str.replace(/\\s+/g,'').length; }\n\nfor (let s of segs) {\n  const tooLong = charCount(s.music_prompt) > 200;\n  output.push({\n    json: {\n      ...s,\n      needRewrite: tooLong\n    }\n  });\n}\nreturn output;"},"id":"840fcc34-273a-4712-815b-1410829dbad5","name":"Check_Prompt_Length","type":"n8n-nodes-base.function","typeVersion":1,"position":[-1200,208]},{"parameters":{"url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$env.GEMINI_KEY}}","jsonParameters":true,"options":{}},"id":"1bcedcfe-b26f-409a-896f-d4ae5f433b0c","name":"Rewrite_Long_Prompts","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-896,112],"conditions":{"if":{"value1":"={{$json.needRewrite}}","operation":"equal","value2":true}}},{"parameters":{"url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$env.GEMINI_KEY}}","jsonParameters":true,"options":{}},"id":"fa5f5af4-625b-4ca7-820b-a738725bf6ba","name":"Semantic_Alignment_LLM","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[-608,208]},{"parameters":{"batchSize":2,"options":{}},"id":"daf59b13-388a-4304-9a3b-e250b470c98f","name":"Batch_Split","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-304,208]},{"parameters":{"url":"https://api.suno.ai/v1/generate","jsonParameters":true,"options":{}},"id":"ff919e26-3fca-4304-8582-806d33ee975b","name":"Suno_Generate","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,208]},{"parameters":{"url":"=https://api.suno.ai/v1/task/{{$json.taskId}}","options":{}},"id":"44c293e9-7ab8-4edb-a53f-6d65a2dd0853","name":"Suno_Task_Check","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[304,208]},{"parameters":{},"id":"dd3563bc-4421-4a78-a920-f7c0dbdf0d13","name":"Wait_If_Pending","type":"n8n-nodes-base.wait","typeVersion":1,"position":[608,208],"webhookId":"6046e0aa-47dc-4e2c-8a25-2cc8b30cf36d"},{"parameters":{"url":"https://texttospeech.googleapis.com/v1/text:synthesize?key={{$env.GEMINI_KEY}}","jsonParameters":true,"options":{}},"id":"69a9a19b-f887-4fb1-b61c-70ad4a2f419d","name":"TTS_Generate","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0]},{"parameters":{"command":"ffprobe -v error -show_entries format=duration -of csv=p=0 {{$binary.data.fileName}}"},"id":"af62148b-5518-4f0d-ae45-77f9ff275754","name":"FFprobe_Length","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[912,208]},{"parameters":{"command":"ffmpeg -i narration.mp3 -i music.mp3 -filter_complex \"[1:a]volume=0.25,afade=t=in:ss=0:d=1,afade=t=out:st={{$json.duration}}:d=1[musicfx];[0:a][musicfx]amix=inputs=2:duration=first:dropout_transition=2\" -c:a libmp3lame final_{{$json.index}}.mp3"},"id":"014d7135-71e7-4ee5-86cb-7867d2f2571d","name":"Mix_Audio","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1200,208]}],"connections":{"Gemini_Text_Processing":{"main":[[{"node":"Check_Prompt_Length","type":"main","index":0}]]},"Check_Prompt_Length":{"main":[[{"node":"Semantic_Alignment_LLM","type":"main","index":0}]]},"Semantic_Alignment_LLM":{"main":[[{"node":"Batch_Split","type":"main","index":0}]]},"Batch_Split":{"main":[[{"node":"Suno_Generate","type":"main","index":0}]]},"Suno_Generate":{"main":[[{"node":"Suno_Task_Check","type":"main","index":0}]]},"Suno_Task_Check":{"main":[[{"node":"Wait_If_Pending","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"a164c6e7-eba2-44c3-99e6-5f5bbfff739a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-25T18:05:35.859Z","createdAt":"2026-02-25T18:05:35.859Z","role":"workflow:owner","workflowId":"8fEHNOVQt56h0LoZ","projectId":"1dM615KCeKo7EXVO"}],"activeVersion":null,"tags":[]}